<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tx_kfmobilede--search tx_kfmobilede--search__simple">

	<!-- Tab panes -->
	<f:form id="ajaxselectlist-form" class="simple" pageUid="{settings.list.pid}">
		<input type="hidden" name="type" value="{settings.ajax.typeNum}">
		<input type="hidden" name="objects" value="0">
		<input type="hidden" name="limit" value="{settings.ajax.limit}">
		<input type="hidden" name="offset" value="0">
		<input type="hidden" name="goback" value="{goback}">

        <div class="tx_kfmobilede--search__fields">
            <f:for each="{vehicle.tabs.simple.fields}" as="fieldName" iteration="iterator">
                <f:variable name="options" value="{vehicle.data.select.{fieldName}}" />
                <f:variable name="default" value="{f:if(condition:'{translate}', then: '{translate}' , else: '{vehicle.translate.data.select.{fieldName}}')}" />
                <f:render partial="Vehicle/Form/Select" arguments="{_all}" />
            </f:for>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Suchen</button>
            </div>
        </div>
	</f:form>
</div>
</html>