<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="{google_id}" class="simple" style="padding-bottom: 56.25%;width: 100%;"></div>
<script>
    var gSingleMarkers = [];
    var {google_id}_loc = <f:format.htmlentitiesDecode>{google_data}</f:format.htmlentitiesDecode>;
    var google_zoom = {f:if(condition:'{google_count} > 1',then:'8',else:'15')};
    function initSingleMap(map_id,gmap_loc) {
        var mapOptions = {
            zoom: google_zoom,
            center: {
                lat: parseFloat(gmap_loc[0].latitude),
                lng: parseFloat(gmap_loc[0].longitude)
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById(map_id), mapOptions);
        var marker, i;
        var infowindow = new google.maps.InfoWindow();
        google.maps.event.addListener(map, 'click', function() {
            infowindow.close();
        });

        for (i = 0; i < gmap_loc.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(gmap_loc[i].latitude, gmap_loc[i].longitude)
                ,map: map
                //,icon: gmap_loc[i][3]
            });

            gSingleMarkers.push(marker);
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(gmap_loc[i].address);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }

    var loaded = false;
    document.addEventListener("DOMContentLoaded", function(event) {
        var initTimierSingleMap = setInterval(function(){
            if(typeof google !== "undefined"){
                clearInterval(initTimierSingleMap);
                if(loaded === false){
                    loaded = true;
                    initSingleMap('<f:format.htmlentitiesDecode>{google_id}</f:format.htmlentitiesDecode>',{google_id}_loc);
                }
            }
        },500)
    });
</script>
</html>