<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{vehicles.data}">
	<f:then>
		<div class="view-list">
			<div class="row">
				<f:for each="{vehicles.data}" as="vehicle">
					<f:variable name="type" value="list" />
					<f:render partial="Vehicle/Item/ListSearch" arguments="{_all}" />
				</f:for>
			</div>
		</div>
	</f:then>
	<f:else>
		<f:render partial="Vehicle/NothingFound" arguments="{_all}" />
	</f:else>
</f:if>
</html>