<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.detail.pid} && {settings.detail.use} == 1">
	<f:then>
		<f:link.action action="save" controller="Vehicle" pageUid="{settings.detail.pid}" arguments="{vehicle : vehicle}" additionalAttributes="{data-uid: vehicle.uid, data-action: 'save', onclick: 'return false;'}">
			<i class="fa fa-save"></i> Fahrzeug speichern
		</f:link.action>
	</f:then>
	<f:else>
		<f:link.action action="save" controller="Vehicle" arguments="{vehicle : vehicle}" additionalAttributes="{data-uid: vehicle.uid, data-action: 'save', onclick: 'return false;'}">
			<i class="fa fa-save"></i> Fahrzeug speichern
		</f:link.action>
	</f:else>
</f:if>
</html>