<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="angebot" value="{f:if(condition: '{vehicle.custom1}', then: '{vehicle.custom1}', else: 'vehicle.importKey')}" />
<f:if condition="{settings.detail.powermail} && {settings.detail.pid} && {settings.detail.use} == 1">
	<script>
        var item_{vehicle.importKey} = {
            "fahrzeug"		: '<f:format.htmlentitiesDecode>{vehicle.modelDescription}</f:format.htmlentitiesDecode>',
            "fahrzeugnr" 	: '<f:format.htmlentitiesDecode>{angebot}</f:format.htmlentitiesDecode>',
			"fahrgestell"	: '<f:format.htmlentitiesDecode>{vehicle.custom2}</f:format.htmlentitiesDecode>',
			"standort"		: '{vehicle.seller.city}'
        };
	</script>
	<f:link.action pageUid="{settings.detail.powermail}" additionalAttributes="{class: 'btn btn-xs btn-list kf_send_mail', data-item: 'item_{vehicle.importKey}'}">
		<i class="fa fa-envelope-o"></i> Fahrzeug anfragen
	</f:link.action>
</f:if>
</html>