<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{settings.detail.powermail} && {settings.detail.pid} && {settings.detail.use} == 1">
	<script src="{f:uri.resource(path:'JavaScript/events.js')}" type="text/javascript"></script>
	<script>
        var item_{vehicle.importKey} = {
            "fahrzeug"		: '<f:format.htmlentitiesDecode>{vehicle.modelDescription}</f:format.htmlentitiesDecode>',
            "fahrzeugnr" 	: '<f:format.htmlentitiesDecode>{vehicle.importKey}</f:format.htmlentitiesDecode>',
			"standort"		: '<f:format.htmlentitiesDecode>{vehicle.seller.email}</f:format.htmlentitiesDecode>'
        };
	</script>
	<f:link.action pageUid="{settings.detail.powermail}" additionalAttributes="{class: 'btn btn-primary kf_send_mail', data-item: 'item_{vehicle.importKey}'}">
		<i class="fa fa-envelope-o"></i> Fahrzeug anfragen
	</f:link.action>
</f:if>
</html>