<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="modal fade modal--calc" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="resp">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://schnellkalkulation.bdk-bank.de/onlinecalculator/calculator.bdk?cid=d744e7a7af558fdf0c205d3a76b912a416f300f2" width="100%" height="1000px" frameborder="0" class=embed-responsive-item"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

</html>