<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Vehicle:
          Search.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<div class="tx_kfmobilede--search">
		<f:switch expression="{settings.layout}">
			<f:case value="search_simple">
				<f:render partial="Vehicle/Search/SearchboxSimpleJson_v2" arguments="{_all}" />
			</f:case>
			<f:case value="search_medium">
				<f:render partial="Vehicle/Search/SearchboxMedium" arguments="{_all}" />
			</f:case>
			<f:defaultCase>
				<f:render partial="Vehicle/Search/Searchbox" arguments="{_all}" />
			</f:defaultCase>
		</f:switch>
	</div>
</f:section>
</html>
