<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-kf-mobile-de" >
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.company_name" />
		</td>
		<td>
			{seller.companyName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.phone" />
		</td>
		<td>
			{seller.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.street" />
		</td>
		<td>
			{seller.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.zipcode" />
		</td>
		<td>
			{seller.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.city" />
		</td>
		<td>
			{seller.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.country_code" />
		</td>
		<td>
			{seller.countryCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.latitude" />
		</td>
		<td>
			{seller.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.longitude" />
		</td>
		<td>
			{seller.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.seller_image" />
		</td>
		<td>
			{seller.sellerImage.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.seller_info" />
		</td>
		<td>
			{seller.sellerInfo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.url" />
		</td>
		<td>
			{seller.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.email" />
		</td>
		<td>
			{seller.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.commercial" />
		</td>
		<td>
			{seller.commercial}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.import_key" />
		</td>
		<td>
			{seller.importKey}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_seller.import" />
		</td>
		<td>
			{seller.import}
		</td>
	</tr>
</table>
</html>