<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<hr/>
<label>
	<f:form.checkbox property="import" name="import" value="1" />
	Import
</label><br />
<label>
	<f:form.checkbox property="update" name="update" value="1" />
	Update
</label><br />
<label>
	<f:form.checkbox property="update_force" name="update_force" value="1" />
	Update (force)
</label><br />
<label>
	<f:form.checkbox property="status" name="status" value="1" />
	Status
</label><br />

<label>
	<f:form.checkbox property="test" name="test" value="1" />
	Debug / Testmodus
</label><br />
<hr/>
</html>
