<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{vehicle.seller}">
    <div class="seller seller--wrap">
        <h3>Standort</h3>

        <div class="seller--info">
            <div class="row">
                <f:if condition="{vehicle.seller.sellerImage.uid}">
                    <div class="col-xs-12 col-sm-4">
                        <f:image src="{vehicle.seller.sellerImage.uid}" class="img-responsive" width="250" treatIdAsReference="TRUE" />
                    </div>
                </f:if>
                <div class="col-xs-12 col-sm-8">
                    <div class="seller">
                        <f:if condition="{vehicle.seller.sellerInfo}">
                            <f:then>
                                <f:format.html> {vehicle.seller.sellerInfo}</f:format.html>
                            </f:then>
                            <f:else>
                                <p><strong>{vehicle.seller.companyName}</strong><br/>
                                    {vehicle.seller.street}<br/>
                                    {vehicle.seller.zipcode} {vehicle.seller.city}</p>
                                <p>{vehicle.seller.email}</p>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller--map">
            <div class="row">
                <div class="col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <f:render partial="Seller/GoogleMaps/MapsSingle" arguments="{_all}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:if>

</html>