/* ==========================================================================
   sizes
   ========================================================================== */
$macbook_13:        1280px;
$tablet:            1024px;
$mobile:            767px;


$ovalSize:          40px;
$lineHeight:        1.42857143;


/* ==========================================================================
   color
   ========================================================================== */
$color_white:       #ffffff;
$color_grey:        #555;
$color_lightGrey:   #f2f2f2;
$color_karriere:    #f5f7f7;
$color_black:       #000;
$color_red:         #900000;
$color_green:       #009104;

$color_mainlight:   #64b5f4;
$color_mainhell:    #22a3e6;
$color_main:        #3e7cbf;
$color_maingrau:    #425968;
$color_hover:       #f7f7f7;


$fontSizeXS:        14px;
$fontSizeS:         13px;
$fontSize:          14px;
$fontSizeMenu:      14px;
$fontSizeMedium:    16px;
$fontSizeLarge:     24px;
$fontSizeH2:        30px;
$fontSizeSearch:    60px;

$fontFamily:        'Open Sans', Arial, sans-serif;
$fontFamilyHead:    'Fira Sans', Arial, sans-serif;
$fontAwesome:       FontAwesome;