@import 'config';
/* ==========================================================================
   tx_kfmobilede
   ========================================================================== */
.tx-kf-mobile-de {

  /* Sly Slider
  ********************************************* */
  $sliderSpace: 10px;
  .view-slider {
    .sly_wrap {
      position: relative;

      .sly-controls {
        position: absolute;
        top:50%;
        width: 100%;

        .prev,
        .next {
          position: absolute;
          border-radius: 50%;
          .fa {
            color: $color_main;
          }
          &:hover {
            background-color: $color_main;
            .fa {
              color: $color_white;
            }
          }
        }

        .prev {left: -40px;}
        .next {right: -40px;}

        @media (max-width: $tablet) {
          .prev {left: 0;}
          .next {right: 0;}
        }
      }

      .outer {
        list-style: none;padding: 0;margin: 0;
        .inner {
          float:left;
          width: 170px;
          //cursor: pointer;
          margin: 0 $sliderSpace;
          border:1px solid lighten($color_maingrau,50);

          &:first-child {
            margin-left: 0;
          }

          &:hover,
          &:focus,
          &.active {
            background-color: $color_hover;
          }
        }

        .images {
          img {
            border: 0 none;
          }
        }
        .content_inner {
          padding: 10px;
          .headerbox {
            h2 {
              font-size: $fontSizeXS;
              font-weight: 700;
              margin: 0 0 10px 0;
              color: $color_black;
            }
          }
          .spects,
          .features,
          .options,
          .energy {
            ul {
              list-style: none;margin: 0;padding: 0;
              line-height: 0.8em;
              li {
                display: inline-block;
                font-size: $fontSizeXS;
                line-height: $fontSizeXS + 3px;
                color: $color_black;
                &::after {
                  content:", ";
                  padding-right: 3px;
                }
                &:last-child {
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
          .energy {
            padding-top: 10px;
            ul {
              li {
                font-weight: 700;
                &::after {
                  content: " / ";
                }
              }
            }
          }
        }

        .price {
          font-size: 20px;
          font-weight: 700;
          color: $color_maingrau;
          text-align: right;
          margin: 0 10px 10px 10px;
        }

        .controls {
          a {
            display: block;
            color: $color_white;
            text-transform: none;
            background-color: $color_mainhell;
            text-align: center;
            text-decoration: none;
            &:hover,
            &:focus {
              background-color: $color_main;
            }
          }
        }
      }

      @media(max-width: $tablet){
        .sly-controls {
          position: relative;
          .prev,
          .next {
            position: relative;
            left: inherit;
            right: inherit;
            border-radius: 0;
          }
          .prev {
            float: left;
          }
          .next {
            float: right;
          }
        }
      }
    }
  }

  /* Searchbox
  ********************************************* */
  .view-searchbox {
    .searchbox {
      -webkit-box-shadow: 0 0 5px 0 rgba($color_black,0.5);
      -moz-box-shadow: 0 0 5px 0 rgba($color_black,0.5);
      box-shadow: 0 0 5px 0 rgba($color_black,0.5);

      .nav-tabs {
        border-bottom: 0;
        background: $color_maingrau;
        padding-bottom: 0;

        li {
          margin-bottom: 0;

          &.li_equipment {display: none;}

          a {
            background: $color_maingrau;
            color: $color_white;
            border: 0 none;
            border-radius: 0;
            font-size: $fontSizeLarge;
            margin: 0 10px 0 0;

            @media(min-width: $tablet){
              text-transform: uppercase;
            }

            &:hover {
              background: $color_white;
              color: $color_maingrau;
            }
          }
          &.active {
            a {
              background: $color_white;
              color: $color_maingrau;
            }
          }

          &.count_wrap {
            .count {
              padding: 10px 15px;
              color: $color_white;
              font-size: $fontSizeLarge;
              line-height: $lineHeight;
            }
          }
        }
      }
      .tab-content {
        .tab-pane {
          .wrap_inner {
            padding: 15px 10px 5px 10px;
            > .row {
              > [class^="col-"] {
                border-right: 1px solid $color_lightGrey;
                &:last-child {
                  border-right: 0;
                }
              }
            }
            .range-wrap {
              label {
                &:empty {
                  display: none;
                }
                &.head-label {
                  //margin-bottom: 0;
                }
              }
              .row {
                @media(max-width: $mobile){
                  [class^="col-x"] {
                    margin: 0 0 15px 0!important;
                    border-right: 1px solid $color_lightGrey;
                    &:last-child {
                      border-right: 0;
                    }
                  }
                }
              }
            }

            .form-inline {
              .checkbox {
                margin: 0 10px 0 0;
              }
            }
          }
        }
      }
      .wrap_submit {
        padding: 10px;
        text-align: right;
        .btn {
          +.btn {margin: 0 0 0 10px}
        }
      }
    }

    #ajaxCallResult {
      padding: 20px 10px;
    }
  }

  /* Google Maps
  ********************************************* */
  .view-map {
    padding: 15px 0;

    .map {
      > div {
        margin: 0 0 20px 0;
      }
    }
    .acc {
      .panel-group {
        .panel {
          background: none;
          border: 0 none;
          box-shadow: none;

          .panel-heading {
            padding: 0;
            background: none transparent;
            a {
              color: $color_white;
              text-transform: none;
              position: relative;
              padding-right: 15px;
              display: block;

              &:after {
                content: "\f077";
                font-family: $fontAwesome;
                position: absolute;
                right: 0;
                top: 0;
              }
              &.collapsed {
                &:after {
                  content: "\f078";
                }
              }
              span {
                display: block;
              }
              .company {
                font-size: $fontSizeMedium;
                font-weight: normal;
              }
              .city {
                font-size: $fontSizeS;
                font-weight: normal;
              }
            }
          }
          .panel-collapse {
            margin-top: 10px;
            .panel-body {
              border: 0 none;
              background-color: $color_white;
              padding: 0 5px;
            }
          }
        }
      }
    }
  }

  .btn-goback {
    margin: 10px 0;
  }
}



.tx_kfmobile_menu {
  background-color: $color_maingrau!important;
  display: table;
  padding-top: 0;

  .plugin {
    display: table-cell;
    vertical-align: top;

    &.previewmenu {
      min-width: 200px;
      border-right: 1px solid $color_white;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-right: 1px solid $color_white;
        background-color: $color_maingrau;

        li {
          position: relative;
          &::after {
            -webkit-transition: all 500ms;
            -moz-transition: all 500ms;
            -ms-transition: all 500ms;
            -o-transition: all 500ms;
            transition: all 500ms;

            opacity: 0;
            content: "";
            width: 0px;
            height: 0px;
            -webkit-transform:rotate(360deg);
            border-style: solid;
            border-width: 15px 0 15px 20px;
            border-color: transparent transparent transparent $color_white;
            position: absolute;
            right: -20px;
            top: 15px;
          }
          &:hover {
            &::after {
              opacity: 1;
            }
          }

          a {
            display: block;
            padding: 15px;
            color: $color_white;
            white-space: nowrap;

            &:hover {
              background-color: $color_white!important;
              color: $color_maingrau!important;
            }
          }

          &.act,
          &:hover,
          &:focus {
            background-color: $color_white;
            a {
              color: $color_maingrau;
            }
          }
        }
      }
    }

    &.items {
      margin: 4px 0 0 0;
      min-width: 400px;
      padding: 10px;
      display: none;

      .page {
        display: none;
        &.in {
          display: block;
        }

        * {
          font-size: $fontSize;
          line-height: $fontSize +3;
          color: $color_white;
          sub, sup {
            top: 0;
          }
        }

        .row {
          margin: 0;

          .item_wrap {
            padding: 0 5px;
            margin: 0 0 10px 0;

            .item {
              position: relative;

              .item_inner{
                position: absolute;
                width: 100%;
                bottom: 0;
                background: transparentize($color_main,0.2);
                p {
                  font-size: $fontSize;
                  line-height: $fontSize +3;
                  color: $color_white;
                  margin-bottom: 0;
                  padding: 0 5px;
                }
              }
            }
          }

          .price {
            padding: 5px;
            font-weight: 700;
            margin-bottom: 10px;
          }
        }

        .no_results {
          display: block;
          text-align: center;
        }
      }
    }
  }
}


.tx_kfmobilede--search {
  position: relative;

  &__fields {
    display: flex;
    flex-wrap: wrap;
    .form-group {
      padding: 5px;
      @media(min-width: 768px){
        width: 50%;
      }
    }
    label {
      display: none;
    }
  }

  .view {
    &--search {
      &__simple {
        padding: 10px;
        .checkbox-wrap {
          padding-bottom: 10px;
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
}




/* Listenansicht - Ergebnisse
********************************************* */
.view {
  &--result {

    // List Items
    .list {
      &--wrap {
        padding: 25px 15px;

        &:hover,
        &:focus {
          background-color: $color_hover;
        }
      }

      &--headerbox {
        a {text-decoration: none}
        h2 {
          font-size: $fontSizeLarge;
          margin: 0;
          color: $color_maingrau;
          text-transform: none;
          font-weight: 700;
          @media(max-width: $tablet){
            font-size: 16px;
            text-transform: none;
          }
        }
        .price {
          font-size: 31px;
          font-weight: 700;
          color: $color_maingrau;
          @media(max-width: $tablet){
            font-size: 20px;
          }
          .mwst {
            font-size: $fontSize;
            font-weight: 300;
          }
        }
      }

      &--data {
        padding: 10px 0;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          li {
            width: 33%;
            @media(max-width: $tablet){
              width: 50%;
            }
            @media(max-width: $mobile){
              width: 100%;
            }
            ul {
              width: 100%;
            }
          }
        }
        hr {
          margin: 10px auto;
        }

        &--energy {
          p {
            margin-bottom: 0;
          }
          ul {
            padding-top: 0;
          }
        }
      }

      &--options {
        padding: 15px 0;
        ul {
          list-style: none;margin: 0;padding: 0;
          li {
            display: inline-block;
            width: 40%;
            @media(max-width: $tablet){
              width: 100%;
            }
          }
        }
      }

      &--controls {
        a {
          display: block;
          color: $color_black;
          text-transform: none;
          text-decoration: none;
          &:first-child {
            margin-left: 0;
          }

          &.btn-list {
            border: 1px solid $color_grey;
            span.active {display: none}
            span.inactive {display: block}

            &.btn-active {
              background-color: $color_main;
              color: $color_white;
              span.active {display: block}
              span.inactive {display: none}
            }
          }

          @media(max-width: $tablet){
            &.btn {
              margin-bottom: 10px;
            }
          }

          @media(min-width: $tablet){
            display: inline-block;
            margin: 10px;
          }
        }
      }
    }
  }
}









/* ==========================================================================
   Listenansicht
   ========================================================================== */
.view {
  &--single {
    &--header {}

    // images
    &--gallery {
      $padding: 5px;
      &__large {
        margin-bottom: 10px;
      }

      &__small {
        > .row {
          margin: 0 -5px;
          [class^="col-"] {
            padding: 0 $padding;
            margin: 0 0 $padding*2 0!important;
          }
        }
      }
      &__item {
        background: none center center / cover transparent;
        cursor: pointer;
        border: 1px solid $color_maingrau;
        min-height: 100px;
        &.act {
          border: 1px solid $color_mainhell;
        }
      }
    }

    &--buttons {
      .btn {
        width: 100%;
      }

      p {
        margin: 0;
      }

      .btn-list {
        border: 1px solid $color_grey;
        span.active {display: none}
        span.inactive {display: block}

        &.btn-active {
          background-color: $color_main;
          color: $color_white;
          span.active {display: block}
          span.inactive {display: none}
        }
      }
    }

    &--price {
      .price {
        font-size: 31px;
        font-weight: 700;
        color: $color_maingrau;
        @media(max-width: $tablet){
          font-size: 20px;
        }
        .mwst {
          font-size: $fontSize;
          font-weight: 300;
        }
      }
    }
    &--specifics {}
    &--c02 {}
    &--features {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          &::before {
            content: "•";
            font-weight: 700;
            padding: 0 5px 0 0;
          }
        }
        @media(max-width: $mobile){
          li {
            display: block;
            width: 100%;
          }
        }
        @media(min-width: $mobile){
          li {
            min-width: 50%;
          }
        }
        @media(min-width: $tablet) {
          li {
            min-width: 33%;
          }
        }
        @media(min-width: ($macbook_13 - 80px)){
          li {
            min-width: 25%;
          }
        }
      }
    }

    .table {
      &.table-size {
        width: auto;
      }
    }
  }

}


.simplev2 {
  .view {
    &--search {
      &__simple {
        &__fields {
          @media(min-width: $tablet){
            .checkbox {
              display: inline-block;
              width: 50%;
            }
          }

          .form-group {
          label {display: none;}
          }
        }
      }
    }
  }
}







/* ==========================================================================
   Searchbox
   ========================================================================== */
.view--searchbox,
.searchbox {

  &__relative {
    position: relative;
  }

  &__complex {
    -webkit-box-shadow: 0 0 5px 0 rgba($color_black,0.5);
    -moz-box-shadow: 0 0 5px 0 rgba($color_black,0.5);
    box-shadow: 0 0 5px 0 rgba($color_black,0.5);
    padding: 10px;
  }

  .loading {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background: transparentize($color_main,50%);
    }
  }

  &__simple {
    padding: 10px;
  }
  
  &__radio {
    margin: 0 0 10px 0;

    .checkbox-inline,
    .radio-inline {
      font-size: $fontSizeMedium;
    }

    strong {padding: 0 10px 0 0}
    input {margin: 6px 0 0 0}
  }

  &__select {
    label {display: none;}
  }

  &__result {
    margin-top: 20px;
  }

  &--checkbox {
    padding: 10px 0;

    &__large {
      .label {
        &--text {
          font-size: $fontSizeMedium;
          top: 4px;
        }
        &--container {
          padding-left: 48px;
        }
        &--checkmark {
          height: 30px;
          width: 30px;

          &::after {
            left: 10px;
            top: 7px;
            width: 10px;
            height: 15px;
          }
        }
      }
    }

    &__small {
      .label {
        &--text {
          font-size: $fontSizeS;
          top: 0;
        }
        &--container {
          padding-left: 25px;
        }
        &--checkmark {
          height: 20px;
          width: 20px;

          &::after {
            left: 7px;
            top: 3px;
            width: 6px;
            height: 10px;
          }
        }
      }
    }

    &__flex {
      display: flex;
      flex-wrap: wrap;

      .label {
        flex-basis: 20%;
        flex-grow: 0;
        margin-left: 0;
      }
    }
  }
}


.label {
  display: inline-block;

  &--text {
    position: relative;
    font-size: $fontSize;
  }
  &--container {
    text-align: left;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $color_black;
  }

  &--input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      &~ {
        .label--checkmark {
          background-color: $color_main;
        }
        &::after {
          display: block;
        }
      }
    }
    &:hover {
      &~ {
        .label--checkmark {
          background-color: $color_maingrau;
        }
        &::after {
          display: block;
        }
      }
    }
  }

  &--checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $color_grey;

    &::after {
      left: 9px;
      top: 7px;
      width: 5px;
      height: 10px;
      border: solid $color_white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      position: absolute;
      display: none;
    }
  }
}







/* ==========================================================================
   Ribbon in der Suchmaske
   ========================================================================== */
.ribbon {
  &--wrap {
    position: absolute;
    z-index: 2;
  }
  &--left {left:0;}
  &--right {right:0;}
  &--top {top:0;}

  &--item {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;

    &__box {
      font-size: 10px;
      font-weight: bold;
      color: #FFF;
      text-transform: uppercase;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 100px;
      display: block;
      background: $color_maingrau;
      background: linear-gradient($color_maingrau 0%, $color_maingrau 100%);
      box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      position: absolute;
      top: 19px; right: -21px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 0 solid $color_maingrau;
        border-bottom: 3px solid transparent;
        border-top: 3px solid $color_maingrau;
      }


      &::before {
        left: 0px;
      }

      &::after {
        right: 0px;
      }
    }
  }
}