<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Vehicle</h1>

    <f:flashMessages />

    <table  class="tx_kfmobilede" >
        <tr>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.model_description" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.class" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.category" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.make" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.model" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.price" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.damage_and_unrepaired" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.accident_damaged" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.roadworthy" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.price_type" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.fuel" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.gearbox" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.color" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.mileage" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.seats" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.doors" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.power" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.cubic_capacity" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.emission_class" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.images" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.image_data" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.description" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.misc" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.consumer_price_amount" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.dealer_price_amount" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.first_registration" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.creation_date" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.modification_date" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.detail_page" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.import_key" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.import_client" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.import" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.custom1" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.custom2" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.custom3" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.custom4" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.custom5" /></th>
            <th><f:translate key="tx_kfmobilede_domain_model_vehicle.slug" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{vehicles}" as="vehicle">
            <tr>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.modelDescription}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.class}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.category}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.make}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.model}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.price}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.damageAndUnrepaired}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.accidentDamaged}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.roadworthy}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.priceType}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.fuel}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.gearbox}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.color}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.mileage}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.seats}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.doors}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.power}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.cubicCapacity}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.emissionClass}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.images}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.imageData}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.description}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.misc}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.consumerPriceAmount}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.dealerPriceAmount}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.firstRegistration -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.creationDate -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.modificationDate -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.detailPage}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.importKey}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.importClient}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.import}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.custom1}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.custom2}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.custom3}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.custom4}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.custom5}</f:link.action></td>
                <td><f:link.action action="show" arguments="{vehicle : vehicle}"> {vehicle.slug}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{vehicle : vehicle}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{vehicle : vehicle}">Delete</f:link.action></td>
            </tr>
            </f:for>
    </table>

    <f:link.action action="new">New Vehicle</f:link.action>
</f:section>
</html>
