<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="modelDescription">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.model_description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="modelDescription" /><br />
<label for="class">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.class" />
</label><br />
	<f:form.textfield property="class" /><br />
<label for="category">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.category" />
</label><br />
	<f:form.textfield property="category" /><br />
<label for="make">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.make" />
</label><br />
	<f:form.textfield property="make" /><br />
<label for="model">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.model" />
</label><br />
	<f:form.textfield property="model" /><br />
<label for="price">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="damageAndUnrepaired">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.damage_and_unrepaired" />
</label><br />
	<f:form.checkbox property="damageAndUnrepaired" value="1" /><br />
<label for="accidentDamaged">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.accident_damaged" />
</label><br />
	<f:form.checkbox property="accidentDamaged" value="1" /><br />
<label for="roadworthy">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.roadworthy" />
</label><br />
	<f:form.checkbox property="roadworthy" value="1" /><br />
<label for="priceType">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.price_type" />
</label><br />
	<f:form.textfield property="priceType" /><br />
<label for="fuel">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.fuel" />
</label><br />
	<f:form.textfield property="fuel" /><br />
<label for="gearbox">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.gearbox" />
</label><br />
	<f:form.textfield property="gearbox" /><br />
<label for="color">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.color" />
</label><br />
	<f:form.textfield property="color" /><br />
<label for="mileage">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.mileage" />
</label><br />
	<f:form.textfield property="mileage" /><br />
<label for="seats">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.seats" />
</label><br />
	<f:form.textfield property="seats" /><br />
<label for="doors">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.doors" />
</label><br />
	<f:form.textfield property="doors" /><br />
<label for="power">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.power" />
</label><br />
	<f:form.textfield property="power" /><br />
<label for="cubicCapacity">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.cubic_capacity" />
</label><br />
	<f:form.textarea property="cubicCapacity" cols="40" rows="15" /><br />
<label for="emissionClass">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.emission_class" />
</label><br />
	<f:form.textfield property="emissionClass" /><br />
<label for="images">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.images" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="description">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="misc">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.misc" />
</label><br />
	<f:form.textarea property="misc" cols="40" rows="15" /><br />
<label for="consumerPriceAmount">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.consumer_price_amount" />
</label><br />
	<f:form.textfield property="consumerPriceAmount" /><br />
<label for="dealerPriceAmount">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.dealer_price_amount" />
</label><br />
	<f:form.textfield property="dealerPriceAmount" /><br />
<label for="firstRegistration">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.first_registration" />
</label><br />
	<f:form.textfield property="firstRegistration" value="{vehicle.firstRegistration->f:format.date()}" /><br />
<label for="creationDate">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.creation_date" />
</label><br />
	<f:form.textfield property="creationDate" value="{vehicle.creationDate->f:format.date()}" /><br />
<label for="modificationDate">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.modification_date" />
</label><br />
	<f:form.textfield property="modificationDate" value="{vehicle.modificationDate->f:format.date()}" /><br />
<label for="detailPage">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.detail_page" />
</label><br />
	<f:form.textfield property="detailPage" /><br />
<label for="importKey">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.import_key" />
</label><br />
	<f:form.textfield property="importKey" /><br />
<label for="importClient">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.import_client" />
</label><br />
	<f:form.textfield property="importClient" /><br />
<label for="import">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.import" />
</label><br />
	<f:form.checkbox property="import" value="1" /><br />
<label for="custom1">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.custom1" />
</label><br />
	<f:form.textfield property="custom1" /><br />
<label for="custom2">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.custom2" />
</label><br />
	<f:form.textfield property="custom2" /><br />
<label for="custom3">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.custom3" />
</label><br />
	<f:form.textfield property="custom3" /><br />
<label for="custom4">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.custom4" />
</label><br />
	<f:form.textfield property="custom4" /><br />
<label for="custom5">
	<f:translate key="tx_kfmobilede_domain_model_vehicle.custom5" />
</label><br />
	<f:form.textarea property="custom5" cols="40" rows="15" /><br />
</html>