<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-kf-mobile-de" >
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.model_description" />
		</td>
		<td>
			{vehicle.modelDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.class" />
		</td>
		<td>
			{vehicle.class}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.category" />
		</td>
		<td>
			{vehicle.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.make" />
		</td>
		<td>
			{vehicle.make}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.model" />
		</td>
		<td>
			{vehicle.model}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.price" />
		</td>
		<td>
			{vehicle.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.damage_and_unrepaired" />
		</td>
		<td>
			{vehicle.damageAndUnrepaired}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.accident_damaged" />
		</td>
		<td>
			{vehicle.accidentDamaged}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.roadworthy" />
		</td>
		<td>
			{vehicle.roadworthy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.price_type" />
		</td>
		<td>
			{vehicle.priceType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.fuel" />
		</td>
		<td>
			{vehicle.fuel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.gearbox" />
		</td>
		<td>
			{vehicle.gearbox}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.color" />
		</td>
		<td>
			{vehicle.color}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.mileage" />
		</td>
		<td>
			{vehicle.mileage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.seats" />
		</td>
		<td>
			{vehicle.seats}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.doors" />
		</td>
		<td>
			{vehicle.doors}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.power" />
		</td>
		<td>
			{vehicle.power}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.cubic_capacity" />
		</td>
		<td>
			{vehicle.cubicCapacity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.emission_class" />
		</td>
		<td>
			{vehicle.emissionClass}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.images" />
		</td>
		<td>
			{vehicle.images}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.image_data" />
		</td>
		<td>
			{vehicle.imageData}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.description" />
		</td>
		<td>
			{vehicle.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.misc" />
		</td>
		<td>
			{vehicle.misc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.consumer_price_amount" />
		</td>
		<td>
			{vehicle.consumerPriceAmount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.dealer_price_amount" />
		</td>
		<td>
			{vehicle.dealerPriceAmount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.first_registration" />
		</td>
		<td>
			{vehicle.firstRegistration -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.creation_date" />
		</td>
		<td>
			{vehicle.creationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.modification_date" />
		</td>
		<td>
			{vehicle.modificationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.detail_page" />
		</td>
		<td>
			{vehicle.detailPage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.import_key" />
		</td>
		<td>
			{vehicle.importKey}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.import_client" />
		</td>
		<td>
			{vehicle.importClient}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.import" />
		</td>
		<td>
			{vehicle.import}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.custom1" />
		</td>
		<td>
			{vehicle.custom1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.custom2" />
		</td>
		<td>
			{vehicle.custom2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.custom3" />
		</td>
		<td>
			{vehicle.custom3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.custom4" />
		</td>
		<td>
			{vehicle.custom4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.custom5" />
		</td>
		<td>
			{vehicle.custom5}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kfmobilede_domain_model_vehicle.slug" />
		</td>
		<td>
			{vehicle.slug}
		</td>
	</tr>
</table>
</html>